<section class="card">
    <a href="/post/{{id}}">
        <header>{{post.title}}</header>
        <div class="card-body">
            <p>{{post.details}}</p>
            <p>By:{{username}}</p>
            <p>{{comment}}</p>
        </div>
    </a>
    </section>