<section class="card">
    {{!-- {{#each post as |post|}} --}}
    <a href="/post/{{id}}">{{title}}</a>
    <p>{{content}}</p>
    <button id="edit-post">Edit Post</button>
    <button id="delete-post">Delete Post</button>
    {{!-- <p>Posted by: {{user.username}}</p> --}}
    <p>
        {{!-- {{post.comment}} --}}
        <button id="delete-comment">Delete Comment</button>
        <button id="edit-comment">Edit Comment</button>
    </p>
    {{!-- {{/each}} --}}
    </div>
    </a>
</section>