<section class="card post mx-auto my-4 ">
    <a class="underline flex justify-center my-2" href="/post/{{id}}">{{title}}</a>
    <p class="flex justify-center">{{content}}check check check check check check</p>
    <div class="post-buttons">
        <button class="buttons mr-2" id="edit-post">Edit Post</button>
        <button class="buttons" id="delete-post">Delete Post</button>
    </div>
    {{!-- <p>Posted by: {{user.username}}</p> --}}
    {{!-- <p>
        {{post.comment}}
        <button id="delete-comment">Delete Comment</button>
        <button id="edit-comment">Edit Comment</button>
    </p> --}}
    </div>
    </a>
</section>