<section class="container">
    <h3 class="post-title">{{post.title}}</h3>
    <h4> {{post.content}}</h4>
    <h4>Username: {{user.username}}</h4>
    {{#if loggedIn}}
    <section class="flex-row justify-center">
        {{#each user.post as |post|}}
        {{!-- {{> post-details}} --}}
        {{/each}}
    </section>
    <section>
        <h4>Comments</h4>
        <p>{{user.comment<}}< /p>
                <div class="">
                    <div class="comment-card">
                        <h2 class="comment">Create your comment</h2>
                        <form class="form comment-form">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <input class="form-input" type="text" id="comment" />
                            </div>
                            <div class="form-group">
                                <button class="" type="submit">Submit Comment</button>
                            </div>
                    </div>
                </div>
                </form>
    </section>
</section>
{{else}}
<a href="/login">You must login first to view the post</a>
{{/if}}